@import 'mixins/mixin'; // Fonts
// Import files
@import 'variables/variables';
@import 'core/fonts';
@import "../fonts/icon/style.css";
@import 'core/reset';
@import 'core/template';
// @import 'core/preloader';
@import 'core/soc';

@import 'core/header';
@import 'sections/preview';
@import 'sections/construction';
@import 'sections/services';
@import 'sections/portfolio';
@import 'sections/recall';
@import 'sections/contact';
@import 'sections/notfound';

@import 'sections/gallery';
@import 'sections/done';
@import 'sections/hasvideo';
@import 'sections/hasimage';
@import 'sections/stages';
@import 'sections/reverse';
@import 'sections/testimonials';
@import 'sections/consult';

@import 'core/footer';

@import 'core/form';

@import 'core/breadcrumb';

@import 'core/pagination';

@import 'core/buttons';
@import 'core/category';

@import 'core/video';
@import 'core/tabs';

@import 'vendor/modal';
@import 'vendor/swiper';