.construction {
    .section__title {
        display: flex;
        align-items: center;

        @media (max-width: 767px) {
            font-size: 2.375em;
            flex-wrap: wrap;
        }

        span {
            flex-grow: 1;
            height: 1px;
            background-color: $second_color;
            margin: 0 0.294em;
        }
    }

    padding: 5em 0;
    @media (min-width: 768px) {
        padding-top: 6.25em 0;
    }

    &__content {
        margin-top: 2.5em;
        @media (min-width: 768px) {
            margin-top: 3.75em;
        }

        .map {
            width: 100%;
            height: 50em;

            &__wrap {
                overflow: hidden;
                position: relative;
            }
        }

        .mark {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 41.6875em;
            background: #fffdfa;
            display: flex;
            flex-direction: column;
            color: #292929;
            transform: translateX(-42em);
            transition: transform 0.7s;

            &.open {
                transform: translateX(0);
            }

            &__thumb {
                height: 23.8125em;
                flex: none;
                position: relative;
            }

            &__body {
                flex-grow: 1;
                padding: 3.125em;
            }

            &__title {
                font-size: 2.125em;
                font-weight: 400;
                margin-bottom: 0.6em;
            }

            &__place {
                margin-bottom: 22px;
            }

            &__text {
                text-transform: none;
                line-height: 1.5;
                color: #514b42;

                a {
                    color: inherit;
                    text-decoration: none;
                    font-weight: 700;
                }
            }

            &__foot {
                padding: 0 3.125em 3.125em;
            }

            &__link {
                color: inherit;
                text-transform: uppercase;
                font-weight: 700;
            }

            &__close {
                right: 1.5625em;
                top: 1.5625em;
                width: 1.25em;
                height: 1.25em;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                z-index: 2;

                &:after,
                &:before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    left: 0;
                    display: block;
                    border-top: 1px solid #292929;
                }

                &:before {
                    transform: rotate(45deg);
                }

                &:after {
                    transform: rotate(-45deg);
                }
            }
        }

        .markSlider {
            position: relative;

            &__slide {
                img {
                    display: block;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            &__action {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: absolute;
                z-index: 2;
                right: 0;
                bottom: 0;
                height: 3em;
                width: 7.8125em;
                padding: 0.2em 0.8em;
                background: #292929;
                color: #fffdfa;
            }

            &__next,
            &__prev {
                border-top: 2px solid #fff;
                border-right: 2px solid #fff;
                width: 0.4em;
                height: 0.4em;
            }

            &__next {
                transform: rotate(-135deg);
            }

            &__count {
                font-size: 0.875em;
                font-weight: 500;
            }

            &__prev {
                transform: rotate(45deg);
            }
        }
    }
}
