.construction {
    .section__title {
        display: flex;
        align-items: center;

        @media (max-width: 767px) {
            font-size: 2.375em;
            flex-wrap: wrap;
        }

        span {
            flex-grow: 1;
            height: 1px;
            background-color: $second_color;
            margin: 0 0.294em;
        }
    }

    padding: 5em 0;
    @media (min-width: 768px) {
        padding-top: 6.25em 0;
    }

    &__content {
        margin-top: 2.5em;
        @media (min-width: 768px) {
            margin-top: 3.75em;
        }

        .map {
            width: 100%;
            height: 44.25em;
            @media (min-width: 768px) {
                height: 50em;

                transform: translateY(-50em);
                transition: transform 0.6s;

                &.show {
                    transform: translateY(0);
                }
            }

            &__wrap {
                overflow: hidden;
                position: relative;
            }
        }

        .mark {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;

            display: flex;
            flex-direction: column;
            width: 100%;

            border: 1px solid #D0CABF;
            background-color: $color_light;

            box-shadow: 10px -10px 100px 0 rgba(0, 0, 0, 0.20);
            transform: translateX(-120%);
            transition: transform 0.6s;

            @media (min-width: 768px) {
                width: 35.875em;
            }

            &.open {
                transform: translateX(0);
            }

            &__content {
                display: flex;
                flex-direction: column;
                height: 100%;
            }

            &__slider {
                position: relative;
                flex: none;

                .swiper-slide {
                    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
                }
            }

            &__img {
                height: 17.5em;
                @media (min-width: 768px) {
                    height: 23.75em;

                }
            }

            &__control {
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 1;
                width: 100%;
            }

            &__body {
                flex-grow: 1;
                color: $second_color;
                padding: 2.125em 0.75em 1.25em 1.25em;

                @media (min-width: 768px) {
                    padding: 2.5em 2em 2.5em 2.5em;
                }
            }

            &__scrolled {
                overflow: hidden overlay;
                height: 17.75em;
                padding-right: 0.75em;

                @media (min-width: 768px) {
                    height: 15.625em;
                    padding-right: 1.5em;

                    &::-webkit-scrollbar {
                        width: 1.25em;
                        height: 1.25em;

                        &-button {
                            display: none;
                        }

                        &-thumb {
                            background: rgba($second_color, 0.125);
                            border-radius: 1.25em;
                            border: 0.5em solid transparent;
                            background-clip: content-box;
                            min-height: 3em;
                        }
                    }
                }
            }

            &__title {
                font-family: $second_font_family;
                font-size: 1.75em;
                font-weight: 400;
                line-height: 1.1;
                text-transform: uppercase;

                @media (min-width: 768px) {
                    font-size: 2.375em;

                }
            }

            &__place {
                position: relative;
                padding-left: 1.5em;

                font-size: 0.875em;
                font-weight: 500;
                line-height: 1.5;
                text-transform: uppercase;

                text-align: justify;

                margin-top: 0.875em;
                @media (min-width: 768px) {
                    margin-top: 1em;
                }

                &:before {
                    position: absolute;
                    content: '\e908';
                    font-family: 'icon';
                    font-size: 1.286em;
                    top: 50%;
                    transform: translateY(-51%);
                    left: 0;
                }
            }

            &__text {
                margin-top: 0.875em;
                @media (min-width: 768px) {
                    margin-top: 1.5em;
                }

                p {
                    font-size: 0.875em;
                    font-weight: 300;
                    line-height: 1.5;
                    text-align: justify;
                    color: $main_color;

                    &:first-child {
                        margin-top: 0;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }

                    a {
                        color: inherit;
                        font-weight: 500;
                        text-decoration: none;
                        display: block;
                        margin-top: 1em;
                        @media (min-width: 768px) {
                            margin-top: 0;
                            display: inline;
                        }
                    }

                    @media (min-width: 768px) {
                        font-size: 1em;

                    }
                }

            }

            &__foot {
                padding: 0 1.25em 2.125em;
                @media (min-width: 768px) {
                    padding: 0 2.5em 2.5em;

                }

                .btn {
                    align-items: flex-start;

                    @media (min-width: 768px) {
                        span {
                            width: 18em;
                        }

                    }

                }
            }

            &__close {
                position: absolute;
                right: 0.5em;
                top: 0.5em;
                @media (min-width: 768px) {
                    right: 0.9375em;
                    top: 0.9375em;
                }

                display: flex;
                align-items: center;
                justify-content: center;

                width: 2em;
                height: 2em;

                color: $second_color;

                cursor: pointer;
                z-index: 2;

                &:after,
                &:before {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 1.125em;
                    border-top: 0.125em solid;

                    @media (min-width: 768px) {
                        width: 1.5em;

                    }
                }

                &:before {
                    transform: rotate(45deg);
                }

                &:after {
                    transform: rotate(-45deg);
                }

            }
        }

    }
}
