.construction {
    .section__title {
        display: flex;
        align-items: center;

        @media (max-width: 767px) {
            font-size: 2.375em;
            flex-wrap: wrap;
        }

        span {
            flex-grow: 1;
            height: 1px;
            background-color: $second_color;
            margin: 0 0.294em;
        }
    }

    padding: 5em 0;
    @media (min-width: 768px) {
        padding-top: 6.25em 0;
    }

    &__content {
        margin-top: 2.5em;
        @media (min-width: 768px) {
            margin-top: 3.75em;
        }

        .map {
            width: 100%;
            height: 50em;

            &__wrap {
                overflow: hidden;
                position: relative;
            }
        }

        .mark {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;

            display: flex;
            flex-direction: column;
            width: 35.875em;

            border: 1px solid #D0CABF;
            background-color: $color_light;

            box-shadow: 10px -10px 100px 0 rgba(0, 0, 0, 0.20);
            transform: translateX(-120%);
            transition: transform 0.6s;

            &.open {
                transform: translateX(0);
            }

            &__content {
                display: flex;
                flex-direction: column;
                height: 100%;
            }

            &__slider {
                position: relative;
                flex: none;

                .swiper-slide {
                    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
                }
            }

            &__img {
                height: 23.75em;
            }

            &__control {
                position: absolute;
                bottom: 0;
                right: 0;
                border: 1px solid #000;
                z-index: 1;
            }

            &__body {
                flex-grow: 1;
                padding: 2.5em;
                color: $second_color;
            }

            &__title {
                font-family: $second_font_family;
                font-size: 2.375em;
                font-weight: 400;
                line-height: 1.1;
                text-transform: uppercase;
            }

            &__place {
                display: flex;
                align-items: center;

                font-size: 0.875em;
                font-weight: 500;
                line-height: 1.5;
                text-transform: uppercase;

                text-align: justify;

                margin-top: 1em;

                &:before {
                    content: '\e908';
                    font-family: 'icon';
                    font-size: 1.286em;
                }
            }

            &__text {
                margin-top: 1.5em;

                p {
                    font-size: 1em;
                    font-weight: 300;
                    line-height: 1.5;
                    text-align: justify;
                    color: $main_color;

                    a {
                        color: inherit;
                        font-weight: 500;
                    }
                }

            }

            &__foot {
                padding: 0 2.5em 2.5em;

                .btn {
                    align-items: flex-start;

                    span {
                        width: 18em;
                    }
                }
            }

            &__close {
                position: absolute;
                right: 0.9375em;
                top: 0.9375em;

                display: flex;
                align-items: center;
                justify-content: center;

                width: 2em;
                height: 2em;

                color: $second_color;

                cursor: pointer;
                z-index: 2;

                &:before {
                    content: '\e90b';
                    font-family: 'icon';
                    font-size: 1.5em;
                }

            }
        }

    }
}
