$animation-duration: 2s;

.preview {
    padding-top: 3.25em;
    padding-bottom: 0;

    @media (min-width: 768px) {
        padding-top: 0;
        padding-bottom: 0;

    }

    &__wrap {
        @media (min-width: 768px) {
            position: relative;
        }
    }

    &__content {
        @media (min-width: 768px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 58.125em;
        }
    }

    &__caption {
        .section__title {
            @media (min-width: 768px) {
                font-size: 16.25em;
                font-weight: 300;
                position: relative;
                z-index: 10;
            }
        }
    }

    &__desc {
        font-size: 0.75em;
        font-weight: 500;
        line-height: 1.5;
        text-transform: uppercase;
        text-align: justify;
        color: $second_color;
        margin-top: 0.8333334em;
        @media (min-width: 768px) {
            margin-top: 0;
            font-size: 0.875em;
            width: 27.5em;
        }
    }

    &__sliders {
        margin-top: 2.5em;

        @media (min-width: 768px) {
            display: flex;
            gap: 2.5em;
        }
    }

    &__imgs {
        @media (max-width: 767px) {
            margin: 0 -1.25em;
            display: flex;
            justify-content: space-between;

        }
    }

    &__img {
        width: 9.6875em;
        height: 14.75em;
        overflow: hidden;

        img {
            .swiper-slide-active & {
                transform: scale(1.3);
                animation: zoomOut;
                animation-duration: $animation-duration;
                animation-delay: 0.3s;

                animation-fill-mode: forwards;
            }

            .swiper-slide-next {}
        }

        @media (min-width: 768px) {
            width: 100%;
            height: 100%;
        }
    }

    &__sm {
        min-width: 0;
        width: 9.6875em;
        height: 14.75em;
        @media (min-width: 768px) {
            width: 26.5625em;
            height: 26.5625em;

            .preview__img {
                width: 100%;
                height: 26.5625em;
            }
        }

        .swiper-slide {
            box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
        }
    }

    &__lg {
        width: 9.6875em;
        height: 14.75em;
        min-width: 0;
        @media (min-width: 768px) {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;

            width: 59.375em;
            height: 100%;

            .preview__img {
                width: 100%;
                height: 58.125em;
            }
        }

        .swiper-slide {
            box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
        }
    }

    &__info {
        margin-top: 1.5em;
        @media (min-width: 768px) {
            margin-top: 0;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 21.25em;

            padding-bottom: 4.5em;

            .swiper {
                width: 100%;
            }
        }

        &:after {
            content: '\e900';
            font-family: 'icon';
            display: inline-block;

            font-size: 1.125em;
            margin-top: 2.3334em;

            @media (min-width: 768px) {
                font-size: 1.375em;
                margin-top: 0;

                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }

    &__box {}

    &__label {
        font-size: 0.75em;
        font-weight: 500;
        line-height: 1.5;
        text-transform: uppercase;
        color: #938B7C;
        opacity: 0;

        @media (min-width: 768px) {
            font-size: 0.875em;
        }

        .swiper-slide-active & {
            opacity: 1;
            animation: fadeInUp;
            animation-duration: $animation-duration;
        }

    }

    &__title {
        font-size: 1em;
        font-weight: 600;
        line-height: 1.5;
        text-transform: uppercase;
        color: $second_color;
        margin-top: 0.25em;
        opacity: 0;

        @media (min-width: 768px) {
            margin-top: 0.2em;
            font-size: 1.25em;
        }

        .swiper-slide-active & {
            opacity: 1;
            animation: fadeInUp;
            animation-duration: $animation-duration;
        }
    }

    &__text {
        font-size: 0.875em;
        font-weight: 300;
        line-height: 1.5;
        text-align: justify;
        margin-top: 1em;
        opacity: 0;

        @media (min-width: 768px) {
            margin-top: 0.875em;
            font-size: 1em;
        }

        .swiper-slide-active & {
            opacity: 1;
            animation: fadeInUp;
            animation-duration: $animation-duration;
        }
    }

    &__control {
        margin-top: 1.375em;
    }

}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 150%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes zoomOut {
    from {
        transform: scale(1.3);
    }

    to {
        transform: scale(1);
    }
}
