.recall {
    padding-top: 1.625em;
    @media (min-width: 768px) {
        padding-top: 1.25em;
    }

    .section__title {
        @media (max-width: 767px) {
            font-size: 2.375em;
        }
    }

    &__grid {
        margin-top: 1.25em;
        @media (min-width: 768px) {
            margin-top: 3.75em;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-gap: 1.25em;
        }
    }

    &__item {
        margin: 0 -1.25em 2.5em;

        &:last-child {
            margin-bottom: 0;
        }

        @media (min-width: 768px) {
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        // FULL START
        &:nth-child(8n + 1) {
            @media (min-width: 768px) {
                grid-column-start: 1;
                grid-column-end: 13;
                display: flex;
                flex-direction: row;

                min-height: 32.5em;

            }

            .recall__box {
                @media (min-width: 768px) {
                    width: 55.625em;
                }
            }

            .recall__video {
                overflow: hidden;
                // height: 17.5em;
                @media (min-width: 768px) {
                    width: 54.375em;
                    // height: auto;
                }
            }
        }
        // FULL END

        // 2 ITEM START
        &:nth-child(8n + 2) {
            @media (min-width: 768px) {
                grid-column-start: 1;
                grid-column-end: 7;

                min-height: 32.5em;
            }
        }

        &:nth-child(8n + 3) {
            @media (min-width: 768px) {
                grid-column-start: 7;
                grid-column-end: 13;

                min-height: 32.5em;
            }
        }
        // 2 ITEM END

        // 3 ITEM START
        &:nth-child(8n + 4) {
            @media (min-width: 768px) {
                grid-column-start: 1;
                grid-column-end: 5;

                min-height: 37.5em;

            }

            .recall__img {
                @media (min-width: 768px) {
                    height: 18.75em;

                }
            }

            .recall__video {
                @media (max-width: 767px) {
                    height: 25em;
                    padding: 0 1.25em;
                }
            }
        }

        &:nth-child(8n + 5) {
            @media (min-width: 768px) {
                grid-column-start: 5;
                grid-column-end: 9;

                min-height: 37.5em;

            }

            .recall__img {
                @media (min-width: 768px) {
                    height: 18.75em;
                }
            }

            .recall__video {
                @media (max-width: 767px) {
                    height: 25em;
                    padding: 0 1.25em;
                }
            }
        }

        &:nth-child(8n + 6) {
            @media (min-width: 768px) {
                grid-column-start: 9;
                grid-column-end: 13;

                min-height: 37.5em;

            }

            .recall__img {
                @media (min-width: 768px) {
                    height: 18.75em;
                }
            }

            .recall__video {
                @media (max-width: 767px) {
                    height: 25em;
                    padding: 0 1.25em;
                }
            }
        }
        // 3 ITEM END

        // 2 ITEM START LARGE
        &:nth-child(8n + 7) {
            @media (min-width: 768px) {
                grid-column-start: 1;
                grid-column-end: 7;

                min-height: 50em;
            }
        }

        &:nth-child(8n + 8) {
            @media (min-width: 768px) {
                grid-column-start: 7;
                grid-column-end: 13;

                min-height: 50em;
            }
        }
        // 2 ITEM LARGE
    }

    &__img {
        width: 100%;
        height: 20em;
        @media (min-width: 768px) {
            height: 25em;
        }
    }

    &__control {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
    }

    &__box {
        background-color: #FEFDFA;
        padding: 2.125em 1.25em;

        @media (min-width: 768px) {
            flex-grow: 1;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 3.75em;
        }
    }

    &__text {
        p {
            font-size: 0.875em;
            font-weight: 300;
            line-height: 1.5;
            margin: 0.625em 0;
            @media (min-width: 768px) {
                font-size: 1em;

            }

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__person {
        margin-top: 1.25em;
    }

    &__video {
        height: 17.5em;

        @media (min-width: 768px) {
            height: 100%;
        }
    }

    &__title {
        color: $second_color;
        font-family: $second_font_family;
        font-size: 1em;
        font-weight: 420;
        line-height: 1.1;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        @media (min-width: 768px) {
            font-size: 1.25em;
        }
    }

}

.person {
    display: flex;
    align-items: center;
    gap: 0.875em;
    @media (min-width: 768px) {
        gap: 1em;

    }

    &__img {
        flex: none;
        width: 4.25em;
        height: 4.25em;
        border-radius: 100%;
        overflow: hidden;

        @media (min-width: 768px) {
            width: 5.375em;
            height: 5.375em;

        }
    }

    &__info {}

    &__title {
        color: $second_color;
        font-size: 1em;
        font-weight: 500;
        line-height: 1.4;
        text-transform: uppercase;
        @media (min-width: 768px) {
            font-size: 1.25em;

        }
    }

    &__desc {
        color: #514B42;
        font-size: 0.875em;
        font-weight: 300;
        line-height: 1.5;
        @media (min-width: 768px) {
            font-size: 1em;

        }

    }
}
