extends ../../layout/layout.pug

block variable
    -var path = '../../';
    //- -var page = 'bg';

block content
    // begin notfound
    section#notfound.notfound.section
        .container_center
            .notfound__content
                .notfound__img.img
                    img(src="../../img/notfound.webp" alt="image" loading="lazy")
                .notfound__label We proud to be one of the first companies to provide our client complimentary design sketches and full consultation on the proposed projects. 
                .notfound__link
                    a.btn(href="#")
                        span home page


    // end notfound
