.category {

    @media (min-width: 768px) {
        display: flex;
    }

    &__label {
        text-transform: uppercase;
        @media (min-width: 768px) {
            flex: none;
        }

        span {
            color: #938B7C;
            font-size: 1em;
            font-weight: 600;
            line-height: 1.5;
            @media (min-width: 768px) {
                font-size: 1.25em;
            }

        }

    }

    &__list {
        @media (min-width: 768px) {
            margin-left: 2.5em;
            display: flex;
            flex-wrap: wrap;
            width: 70em;
        }
    }

    &__item {

        @media (max-width: 767px) {
            margin-top: 0.875em;

            &:first-child {
                margin-top: 0.625em;
            }
        }

        @media (min-width: 768px) {
            margin-right: 2.5em;
            margin-bottom: 0.875em;

            &:last-child {
                margin-right: 0;
            }

        }

        input {
            display: none;

            &:checked ~ label {
                &:after {
                    width: 100%;
                    opacity: 1;
                }
            }
        }

        label {
            position: relative;
            display: inline-flex;
            align-items: center;
            gap: 0.3em;

            font-weight: 600;
            font-size: 1em;
            @media (min-width: 768px) {
                font-size: 1.25em;
            }

            text-transform: uppercase;
            line-height: 1.5;
            cursor: pointer;
            color: $second_color;

            transition: 0.8s;

            &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0.25em;
                left: 0;
                height: 1px;
                width: 0;
                background-color: $second_color;
                opacity: 0;

                transition: 0.8s;
            }

            span {}

            i {
                &:before {
                    content: '(';

                }

                &:after {
                    content: ')';

                }
            }

        }

    }

}
