/* Header
 ----------------------------------------------------------------------------- */
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 1.25em 0;

		@media (min-width: 768px) {
			align-items: center;
			padding: 2.875em 0;
		}

		.home & {
			justify-content: flex-end;

			@media (min-width: 768px) {
				padding: 0;
			}
		}
	}

	&__info {
		margin-top: -0.1em;
		@media (min-width: 768px) {
			margin-top: 0;
		}

		a {
			display: inline-block;
			font-weight: 600;

			text-decoration: none;
			text-transform: uppercase;

			color: $second_color;
			margin-bottom: 0.125em;

			&:last-child {
				margin-bottom: 0;
			}

			@media (min-width: 768px) {
				margin-bottom: 0;
				font-size: 1.25em;

				position: relative;
				margin-left: 1.475em;

				&:before {
					content: '';
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: -0.8em;
					display: block;
					height: 84%;
					background-color: $second_color;
					width: 0.125em;
				}

				&:first-child {
					margin-left: 0;

					&:before {
						content: none;

					}
				}
			}

		}

		.home & {
			display: none;
		}
	}

	&__toggle {

		color: $second_color;

		@media (min-width: 768px) {
			cursor: pointer;

			display: flex;
			align-items: center;
			overflow: hidden;

			.home & {
				position: absolute;
				top: 0;
				right: 0;
				z-index: 20;

				justify-content: center;

				width: 7.5em;
				height: 7em;

				background-color: #f5f3ef;
			}
		}

		i {
			position: relative;
			display: block;
			width: 1.5625em;
			height: 0.875em;
			border: 0.125em solid;
			border-left: 0;
			border-right: 0;
			z-index: 51;
			cursor: pointer;

			&:after,
			&:before {
				content: '';
				display: inline-block;
				border-top: 0.125em solid;

				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				width: 100%;

				transition: transform 0.3s;

			}
		}

		span {
			@media (min-width: 768px) {
				position: relative;
				right: 0;
				margin-left: 0.5em;
				font-size: 1.25em;
				font-weight: 600;
				text-transform: uppercase;
				opacity: 1;
				transition: 0.8s;
			}
		}

		&_open {
			i {
				border: 0;

				&:after,
				&:before {
					content: '';
					border-top: 0.125em solid;
				}

				&:before {
					transform: rotate(45deg);
				}

				&:after {
					transform: rotate(-45deg);
				}
			}

			span {
				@media (min-width: 768px) {
					right: -4em;
					opacity: 0;
				}
			}
		}

	}

	&__nav {
		position: absolute;
		top: -40em;
		top: -50em;
		left: 0;
		width: 100%;
		z-index: 15;

		padding: 4.25em 0 4.125em;

		background-color: #F5F3EF;
		opacity: 0;
		transition: 0.8s;
		box-shadow: 0 4px 250px 0 rgba(0, 0, 0, 0.3);

		@media (min-width: 768px) {
			padding: 2.25em 0 12.125em;
		}

		&_open {
			top: 0;
			opacity: 1;
		}

	}

	&__navbar {
		@media (min-width: 768px) {
			margin-top: 10.25em;
		}
	}

	&__logo {
		@media (min-width: 768px) {
			display: block;
			width: 21.5625em;
			text-decoration: none;
		}
	}

	.menu {
		margin: 0;
		padding: 0;
		list-style: none;

		@media (min-width: 768px) {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&-item {
			@media (max-width: 767px) {
				margin-bottom: 0.65em;

				&:last-child {
					margin-bottom: 0;
				}
			}

			a {
				font-family: $second_font_family;
				font-size: 1.75em;

				color: $second_color;
				text-decoration: none;
				text-transform: uppercase;
				letter-spacing: -0.03em;

				@media (min-width: 768px) {
					font-size: 3em;
					position: relative;

					&:after {
						content: '';
						position: absolute;
						bottom: 0.1em;
						left: 0;

						display: block;
						width: 0;
						opacity: 0;
						height: 0.0417em;
						background-color: $second_color;
						transition: 0.8s;
					}

					&:hover {
						&:after {
							content: '';
							width: 100%;
							opacity: 1;

						}
					}
				}
			}
		}

	}

	.current-menu-item > a {
		&:after {
			width: 100%;
			opacity: 1;
		}
	}
}

// stiky menu
.stiky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

@media (max-width: 767px) {
	.nav-open {
		overflow: hidden;
	}
}
