// Main wrappers =====================================

body {
	font-family: $main_font_family;
	font-size: calc(.05 * 100vw + 0px);

	@media (min-width: 768px) {
		font-size: calc(.008333334 * 100vw + 0px);
	}

	line-height: $main_line_height;

	background-color: $color_light_primary;
	color: $main_color;

}

.wrapper {
	display: flex;
	flex-direction: column;
	height: auto;
	min-height: 100%;

	font-size: $main_font_size;
}

// p {
// 	font-size: 0.875em;
// 	font-weight: 300;
// 	line-height: 1.5;
// 	margin: 0.625em 0;
// 	@media (min-width: 768px) {
// 		font-size: 1em;
//
// 	}
//
// 	&:first-child {
// 		margin-top: 0;
// 	}
//
// 	&:last-child {
// 		margin-bottom: 0;
// 	}
// }

/* Middle
 ----------------------------------------------------------------------------- */
.main_content {
	flex-grow: 1;

}

.container_center {
	max-width: $container_width;
	padding: 0 1.25em;
	margin-left: auto;
	margin-right: auto;
}

.section {
	padding: 1.875em 0;
	@media (min-width: 768px) {
		padding: 3.75em 0;
	}

	&:first-child {
		// padding-top: 6em;
	}

	&__title {
		margin: 0;

		font-family: $second_font_family;
		font-size: 3em;
		font-weight: 400;
		line-height: 1.1;
		letter-spacing: -0.05em;
		text-transform: uppercase;
		color: $second_color;

		@media (min-width: 768px) {
			font-size: 4.25em;
		}
	}

	&__more {

		border-top: 1px solid $color_primary;
		margin-top: 2.5em;
		padding-top: 1.25em;
		@media (min-width: 768px) {
			margin-top: 3.75em;
			padding-top: 1.125em;
		}

		a {
			position: relative;

			display: flex;
			align-items: center;
			gap: 0.5em;
			text-decoration: none;

			font-size: 1em;
			font-weight: 600;
			text-transform: uppercase;

			color: $second_color;

			@media (min-width: 768px) {
				gap: 0.75em;
				font-size: 1.25em;

			}

			&:after {
				content: '\e901';
				font-family: 'icon';
				flex-grow: 1;
				text-align: right;
			}

		}
	}
}

.desktop {
	@media (max-width: 767px) {
		display: none !important;
	}
}

.mobile {
	@media (min-width: 768px) {
		display: none !important;
	}
}

.d-none {
	display: none;
}

.d-block {
	display: block!important;
}

.bg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.img {
	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.counter-wrap {
	counter-reset: line var(--line-num, 0);
}

.counter-item {
	counter-increment: line;

	.counter-el {
		&:before {
			content: counter(line, decimal-leading-zero);
		}
	}
}
