header.header
    .container_center
        .header__row
            .header__info
                a(href="tel:(800)9616220") (800) 961-6220
                a(href="mailto:info@metrodnc.com") info@metrodnc.com

            .header__toggle
                i
                span.desktop MENU



    .header__nav
        .container_center
            a.header__logo.img.desktop(href="/")
                img(src="/img/logo_h.png", alt="alt")

            nav.header__navbar
                ul.menu
                    li.menu-item.current-menu-item
                        a(href="#") HOME
                    each item in ['about us', 'portfolio', 'testimonials', 'Contact Us', ]
                        li.menu-item
                            a(href="#")=item
