//- // Begin Modal modalVideo
//- .modal.fade.modalVideo#modalVideo
//-     .modal-dialog
//-         .modal-content
//-             a(href="#" class="modal-close" data-dismiss="modal")
//-             .modal-body 
//-                 .modalVideo__wraper
//- // End modal modalVideo
//- 
//- // Begin Modal info
//- .modal.fade.info#info
//-     .modal-dialog
//-         .modal-content
//-             a(href="#" class="modal-close" data-dismiss="modal")
//-             .form__message
//- // End modal info


// Begin Modal project
.modal.fade.project#project
    .modal-dialog
        .modal-content
            a(href="#" class="modal-close" data-dismiss="modal")
            .modal-body
                .project__wrap
                    .project__content
                        .project__cat Kitchen Remodeling, bathroom remodeling
                        .project__title 3715 Los Olivos Ln 
                        .project__location Glendale

                        .project__text
                            p Tiny kitchen & bath with a huge personality in Glendale.
                            p A tiny kitchen that was redone with what we all wish for storage, storage and more storage. The design dilemma was how to incorporate the existing flooring and wallpaper the client wanted to preserve. The kitchen is a combo of both traditional and transitional element thus becoming a neat eclectic kitchen. The wood finish cabinets are natural Alder wood with a clear finish while the main portion of the kitchen is a fantastic olive-green finish for a cleaner look the countertop quartz has been used for the backsplash as well.

                            p This way no busy grout lines are present to make the kitchen feel heavier and busy. After one year we were also invited to remodel the small guest bathroom near the laundry room.

                            p With a mid-century / Asian design theme wood look large porcelain tiles and slate floor material  we create a spa feeling and a sensation of space.

                        .project__recall
                            .recall__box
                                .recall__title client testimonial
                                .recall__text
                                    p Jonathan is everything you should be looking for in a general contractor: He listens to what you you want from your project, he has a keen sense of design and aesthetics, he has a stellar collection of subcontractors, and he is responsive with knowledgeable advice for your inevitable mid-project questions. We are now enjoying our small but gem-like kitchen remodel with nothing but good thoughts on the road  the got us here.
                                .recall__person
                                    .person
                                        .person__img.img
                                            img(src="../../img/person.webp" alt="image" loading="lazy")
                                        .person__info
                                            span Leor & Gordon Ownby
                                            span 3715 Los Olivos Ln. Glendale Angeles, CA

                        .project__bottom
                            a.btn(href="#")
                                span FREE ESTIMATE

                    .project__slider
                        .project__fraction.desktop
                            .fraction
                                span.fraction__current.fraction_current_js 01
                                .fraction__line
                                span.fraction__all.fraction_all_js 03
                        .swiper.project_js 
                            .swiper-wrapper
                                each item in ['1', '2', '3', '4', '5', '1']
                                    .swiper-slide
                                        .project__img.img
                                            img(src="../../img/preview_"+item+".webp" alt="image" loading="lazy")


                            .project__control.swiper-control.dark
                                i.swiper-arrow.icon_arrow_left
                                .swiper-pagination
                                i.swiper-arrow.icon_arrow_right 


// End modal project
