extends ../../layout/layout.pug

block variable
    -var path = '../../';
    -var pageClass = 'home';


block content
    // begin firstscreen
    section#firstscreen.firstscreen.section
        .container_center
            h2.section__title 
            .firstscreen__content
                .firstscreen__left
                .firstscreen__right

    // end firstscreen

    // begin lorem
    section#lorem.lorem.section
        .container_center
            h2.section__title Lorem
            .lorem__content 
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis voluptatibus error eos molestiae quisquam repellendus iusto adipisci ea perspiciatis nemo amet provident ipsam quo ducimus et ipsum harum praesentium libero, magni! Laudantium, perspiciatis, cumque exercitationem eius ullam dolor quasi cum assumenda enim magni eveniet, repellendus incidunt aperiam debitis error recusandae sed id, eaque ea quaerat odit dolorem sapiente reprehenderit reiciendis. Repudiandae earum minus odio perspiciatis fugit laborum perferendis delectus dolorum autem, rem vitae, quibusdam sapiente porro distinctio maxime praesentium doloribus voluptatibus, mollitia aliquam illo ullam totam vel? Dolores, iure recusandae amet expedita tempore reprehenderit mollitia, enim ipsa, facilis minima accusantium.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis voluptatibus error eos molestiae quisquam repellendus iusto adipisci ea perspiciatis nemo amet provident ipsam quo ducimus et ipsum harum praesentium libero, magni! Laudantium, perspiciatis, cumque exercitationem eius ullam dolor quasi cum assumenda enim magni eveniet, repellendus incidunt aperiam debitis error recusandae sed id, eaque ea quaerat odit dolorem sapiente reprehenderit reiciendis. Repudiandae earum minus odio perspiciatis fugit laborum perferendis delectus dolorum autem, rem vitae, quibusdam sapiente porro distinctio maxime praesentium doloribus voluptatibus, mollitia aliquam illo ullam totam vel? Dolores, iure recusandae amet expedita tempore reprehenderit mollitia, enim ipsa, facilis minima accusantium.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis voluptatibus error eos molestiae quisquam repellendus iusto adipisci ea perspiciatis nemo amet provident ipsam quo ducimus et ipsum harum praesentium libero, magni! Laudantium, perspiciatis, cumque exercitationem eius ullam dolor quasi cum assumenda enim magni eveniet, repellendus incidunt aperiam debitis error recusandae sed id, eaque ea quaerat odit dolorem sapiente reprehenderit reiciendis. Repudiandae earum minus odio perspiciatis fugit laborum perferendis delectus dolorum autem, rem vitae, quibusdam sapiente porro distinctio maxime praesentium doloribus voluptatibus, mollitia aliquam illo ullam totam vel? Dolores, iure recusandae amet expedita tempore reprehenderit mollitia, enim ipsa, facilis minima accusantium.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis voluptatibus error eos molestiae quisquam repellendus iusto adipisci ea perspiciatis nemo amet provident ipsam quo ducimus et ipsum harum praesentium libero, magni! Laudantium, perspiciatis, cumque exercitationem eius ullam dolor quasi cum assumenda enim magni eveniet, repellendus incidunt aperiam debitis error recusandae sed id, eaque ea quaerat odit dolorem sapiente reprehenderit reiciendis. Repudiandae earum minus odio perspiciatis fugit laborum perferendis delectus dolorum autem, rem vitae, quibusdam sapiente porro distinctio maxime praesentium doloribus voluptatibus, mollitia aliquam illo ullam totam vel? Dolores, iure recusandae amet expedita tempore reprehenderit mollitia, enim ipsa, facilis minima accusantium.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis voluptatibus error eos molestiae quisquam repellendus iusto adipisci ea perspiciatis nemo amet provident ipsam quo ducimus et ipsum harum praesentium libero, magni! Laudantium, perspiciatis, cumque exercitationem eius ullam dolor quasi cum assumenda enim magni eveniet, repellendus incidunt aperiam debitis error recusandae sed id, eaque ea quaerat odit dolorem sapiente reprehenderit reiciendis. Repudiandae earum minus odio perspiciatis fugit laborum perferendis delectus dolorum autem, rem vitae, quibusdam sapiente porro distinctio maxime praesentium doloribus voluptatibus, mollitia aliquam illo ullam totam vel? Dolores, iure recusandae amet expedita tempore reprehenderit mollitia, enim ipsa, facilis minima accusantium.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis voluptatibus error eos molestiae quisquam repellendus iusto adipisci ea perspiciatis nemo amet provident ipsam quo ducimus et ipsum harum praesentium libero, magni! Laudantium, perspiciatis, cumque exercitationem eius ullam dolor quasi cum assumenda enim magni eveniet, repellendus incidunt aperiam debitis error recusandae sed id, eaque ea quaerat odit dolorem sapiente reprehenderit reiciendis. Repudiandae earum minus odio perspiciatis fugit laborum perferendis delectus dolorum autem, rem vitae, quibusdam sapiente porro distinctio maxime praesentium doloribus voluptatibus, mollitia aliquam illo ullam totam vel? Dolores, iure recusandae amet expedita tempore reprehenderit mollitia, enim ipsa, facilis minima accusantium.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis voluptatibus error eos molestiae quisquam repellendus iusto adipisci ea perspiciatis nemo amet provident ipsam quo ducimus et ipsum harum praesentium libero, magni! Laudantium, perspiciatis, cumque exercitationem eius ullam dolor quasi cum assumenda enim magni eveniet, repellendus incidunt aperiam debitis error recusandae sed id, eaque ea quaerat odit dolorem sapiente reprehenderit reiciendis. Repudiandae earum minus odio perspiciatis fugit laborum perferendis delectus dolorum autem, rem vitae, quibusdam sapiente porro distinctio maxime praesentium doloribus voluptatibus, mollitia aliquam illo ullam totam vel? Dolores, iure recusandae amet expedita tempore reprehenderit mollitia, enim ipsa, facilis minima accusantium.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis voluptatibus error eos molestiae quisquam repellendus iusto adipisci ea perspiciatis nemo amet provident ipsam quo ducimus et ipsum harum praesentium libero, magni! Laudantium, perspiciatis, cumque exercitationem eius ullam dolor quasi cum assumenda enim magni eveniet, repellendus incidunt aperiam debitis error recusandae sed id, eaque ea quaerat odit dolorem sapiente reprehenderit reiciendis. Repudiandae earum minus odio perspiciatis fugit laborum perferendis delectus dolorum autem, rem vitae, quibusdam sapiente porro distinctio maxime praesentium doloribus voluptatibus, mollitia aliquam illo ullam totam vel? Dolores, iure recusandae amet expedita tempore reprehenderit mollitia, enim ipsa, facilis minima accusantium.
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis voluptatibus error eos molestiae quisquam repellendus iusto adipisci ea perspiciatis nemo amet provident ipsam quo ducimus et ipsum harum praesentium libero, magni! Laudantium, perspiciatis, cumque exercitationem eius ullam dolor quasi cum assumenda enim magni eveniet, repellendus incidunt aperiam debitis error recusandae sed id, eaque ea quaerat odit dolorem sapiente reprehenderit reiciendis. Repudiandae earum minus odio perspiciatis fugit laborum perferendis delectus dolorum autem, rem vitae, quibusdam sapiente porro distinctio maxime praesentium doloribus voluptatibus, mollitia aliquam illo ullam totam vel? Dolores, iure recusandae amet expedita tempore reprehenderit mollitia, enim ipsa, facilis minima accusantium.


    // end lorem

    //- // begin form
    //- section#form.form.section
    //-     .container_center
    //-         .form__content
    //-             h1.form__title Подать заявку на лизинг
    //-             i.icon_close    
    //-             form.form.form_grid(action="send.php")
    //-                 //- из какой формы на сайте
    //-                 input(type="hidden" name="subject" value="форма в футоре")
    //-                 //- проверка спама
    //-                 input(type="hidden" name="notspam" value="")
    //-                 .form__row
    //-                     input(type="text", required placeholder="Предмет лизинга*")
    //-                 .form__row
    //-                     input(type="number", placeholder="ИНН")
    //-                 .form__row
    //-                     input(type="number", placeholder="Стоимость")
    //-                 .form__row
    //-                     input(type="text", placeholder="Контактное лицо")
    //-                 .form__row
    //-                     input(type="number", placeholder="Колличество")
    //-                 .form__row
    //-                     input(type="text", required placeholder="Телефон*")
    //-                 .form__row
    //-                     input(type="number", placeholder="Аванс")
    //-                 .form__label
    //-                 .form__row
    //-                     select.select(data-placeholder="Выбор")
    //-                         option(value="")
    //-                         option(value="Значение 1") Значение 1
    //-                         option(value="Значение 2") Значение 2
    //-                         option(value="Значение 3") Значение 3
    //-                         option(value="Значение 4") Значение 4
    //-                 .form__row
    //-                     input(type="email", placeholder="E-mail")
    //-                 .form__row
    //-                     input(type="text", placeholder="Местонахождение")
    //-                 .form__row.form__row_full
    //-                     textarea(type="text", placeholder="Дополнительная информация")
    //-                 .form__row.form__row_full
    //-                     .form__grup
    //-                         label.form__check
    //-                             input(type="radio" name="test" checked="checked" value="test")
    //-                             span radio 1
    //-                         label.form__check
    //-                             input(type="radio" name="test" value="test_2")
    //-                             span radio 2
    //- 
    //-                 .form__row
    //-                     span.form__text Поля, помеченные *, обязательны к заполнения
    //-                 .form__row
    //-                     .button
    //-                         button.btn#btn_didisabled_js(type="submit") Отправить
    //-                 .form__row.form__row_full
    //-                     .form__privacy
    //-                         label.form__check
    //-                             input#check_checked(type="checkbox" checked="checked")
    //-                             span Прочитал(-а) Пользовательское соглашение и соглашаюсь с <a href="#" target="_blank">политикой обработки персональных данных</a>
    //- // end form

    //- // begin faq
    //- section#faq.faq.section
    //-     .container_center
    //-         h2.section__title F.A.Q.
    //-         .faq__content
    //-             .collapse(data-collapse-wrapper="")
    //-                 .collapse__title.open(data-collapse="") 
    //-                     span Вопрос о школе
    //-                 // Добавить класс open для открытого состояния
    //-                 .collapse__body.open(data-collapse-body="")
    //-                     p Ежегодно на несколько дней Санкт‑Петербург становится столицей российского образования, открытой площадкой для дискуссий, обмена опытом, откровенного профессионального диалога ведущих специалистов в области просвещения.
    //- 
    //-                     p В рамках форума запланировано около 300 мероприятий: конференции, семинары, круглые столы, мастер-классы, дискуссионные площадки, форсайт‑сессии, педагогические олимпиады, конкурсы, квесты, презентации.
    //- 
    //-             each title in ['Структура рынка нейтрализует повторный контакт, не считаясь с затратами', 'Потребительский рынок упорядочивает рейтинг']
    //- 
    //-                 .collapse(data-collapse-wrapper="")
    //-                     .collapse__title(data-collapse="")
    //-                         span= title
    //-                     .collapse__body(data-collapse-body="")
    //-                         p Ежегодно на несколько дней Санкт‑Петербург становится столицей российского образования, открытой площадкой для дискуссий, обмена опытом, откровенного профессионального диалога ведущих специалистов в области просвещения.
    //- 
    //-                         p В рамках форума запланировано около 300 мероприятий: конференции, семинары, круглые столы, мастер-классы, дискуссионные площадки, форсайт‑сессии, педагогические олимпиады, конкурсы, квесты, презентации.
    //- 
    //- // end faq

    //- // begin tabsPreview
    //- section#tabsPreview.tabsPreview.section
    //-     .container_center
    //-         h2.section__title tabs Preview
    //-         .tabsPreview__content
    //-             .tabs__wrapper
    //-                 .tabs
    //-                     .tab Вкладка 1
    //-                     .tab Вкладка 2
    //-                     .tab Вкладка 3
    //-                 .tabs__content
    //-                     .tab__item Содержимое 1
    //-                     .tab__item Содержимое 2
    //-                     .tab__item Содержимое 3
    //- 
    //- // end tabsPreview
