extends ../../layout/layout.pug

block variable
    -var path = '../../';
    -var pageClass = 'home';
    -var homepage = true;


block content
    // begin preview
    section#preview.preview.section
        .preview__wrap
            .container_center
                .preview__content
                    .preview__caption
                        h1.section__title Metropolis
                        .preview__desc We are here to help you accomplish your remodeling goals. Let us transform your kitchen, Modernize your bathroom, Expand your house or refresh your patio.

                    .preview__sliders#sliders
                        .preview__imgs
                            .preview__lg
                                .swiper.preview_lg_js
                                    .swiper-wrapper
                                        each item in ['2', '1', '4', '5']
                                            .swiper-slide
                                                .preview__img.img
                                                    img(src="../../img/preview_"+item+".webp" alt="image" loading="lazy")

                            .preview__sm
                                .swiper.preview_sm_js 
                                    .swiper-wrapper
                                        each item in ['1', '2', '3', '4']
                                            .swiper-slide
                                                .preview__img.img
                                                    img(src="../../img/preview_"+item+".webp" alt="image" loading="lazy")
                        .preview__info
                            .swiper.preview_info_js 
                                .swiper-wrapper
                                    each item in [{label: 'Kitchen Remodeling', title: '1208 N. Lima St. Burbank', text: 'In this Burbank remodeling project, we took this 1200sq. bungalow home and turned it to a wonderful mixture of European modern kitchen & bathrooms and calm transitional mid-century modern furniture and flooring.'}, {label: 'Kitchen', title: '1208 N. Lima St. Burbank 1208 N. Lima St. Burbank', text: 'In this Burbank remodeling project, we took this 1200sq. bungalow home and turned it to a wonderful mixture of European modern kitchen'}, {label: 'Remodeling', title: '1208', text: 'In this Burbank remodeling project, we took this 1200sq. bungalow home and turned it to a wonderful mixture of European modern kitchen & bathrooms and calm transitional mid-century modern furniture and flooring. In this Burbank remodeling project, we took this 1200sq.'}, {label: 'Remodeling Remodeling Remodeling', title: 'St. Burbank', text: 'In this Burbank remodeling project, we took this 1200sq.'}]
                                        .swiper-slide
                                            .preview__box
                                                .preview__label=item.label
                                                .preview__title=item.title 
                                                .preview__text=item.text  


                            .preview__control.swiper-control
                                i.swiper-arrow.icon_arrow_left
                                .swiper-pagination 
                                i.swiper-arrow.icon_arrow_right 


    // end preview

    // begin construction
    section#construction.construction.section


        .container_center
            h2.section__title Metropolis <span></span> DRAFTING AND CONSTRUCTION
            .construction__content
                .map__wrap#wrap
                    .map#map
                    .mark
                        .mark__close
                        .mark__content



            script.
                ((g) => {
                    var h,
                        a,
                        k,
                        p = 'The Google Maps JavaScript API',
                        c = 'google',
                        l = 'importLibrary',
                        q = '__ib__',
                        m = document,
                        b = window;
                    b = b[c] || (b[c] = {});
                    var d = b.maps || (b.maps = {}),
                        r = new Set(),
                        e = new URLSearchParams(),
                        u = () =>
                            h ||
                            (h = new Promise(async (f, n) => {
                                await (a = m.createElement('script'));
                                e.set('libraries', [...r] + '');
                                for (k in g)
                                    e.set(
                                        k.replace(/[A-Z]/g, (t) => '_' + t[0].toLowerCase()),
                                        g[k]
                                    );
                                e.set('callback', c + '.maps.' + q);
                                a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
                                d[q] = f;
                                a.onerror = () => (h = n(Error(p + ' could not load.')));
                                a.nonce = m.querySelector('script[nonce]')?.nonce || '';
                                m.head.append(a);
                            }));
                    d[l] ? console.warn(p + ' only loads once. Ignoring:', g) : (d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)));
                })({
                    key: 'AIzaSyBVY9bdJtxFyjxthJGdsXG7G7A6jXPRFJg',
                    // v: 'weekly',
                    // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
                    // Add other bootstrap parameters as needed, using camel case.
                });

                const mapMarkers = [
                    {
                        title: '15 Castilian Ct',
                        place: 'Thousand Oaks',
                        text: '<p>Like most homes that were built as part of a development project in Thousand oaks the kitchen in this home was extremely small and enclosed from all sides with only 2 small pathways leading to it. The first think on the list was to remove the largest wall and opening the spaceto the living area.</p><p>Like most homes that were built as part of a development project in Thousand oaks the kitchen in this home was extremely small and enclosed from all sides with only 2 small pathways leading to it. The first think on the list was to remove the largest wall and opening the spaceto the living area. <a href="">Read More</a></p>',
                        link: 'http://frontendie.ru',
                        images: ['/img/slide-1.jpg','/img/slide-2.jpg'],
                        icon: '../../img/marker.svg',
                        position: { lat: 34.055, lng: -118.367 },
                    },
                    {
                        title: '413 Cloverleaf Dr.',
                        place: 'Monrovia',
                        text: '<p>Mid-Century Fusion kitchen remodel and living space additionin Monrovia. A Modern home that wished for more warmth...</p><p>An addition and reconstruction of approx. 750sq. area. That included new kitchen, office, family room and back patio cover area. <a href="">Read More</a></p>',
                        link: 'http://frontendie.ru',
                        images: ['/img/slide-2.jpg'],
                        icon: '../../img/marker2.svg',
                        position: { lat: 34.003, lng: -118.252 },
                    },
                ];

                const ram = navigator.deviceMemory;
                const cpu = navigator.hardwareConcurrency;


            //- include ../../../js/map.js
            //- include ../../../js/mapMarkers.js

    // end construction




    // end lorem

    //- // begin form
    //- section#form.form.section
    //-     .container_center
    //-         .form__content
    //-             h1.form__title Подать заявку на лизинг
    //-             i.icon_close    
    //-             form.form.form_grid(action="send.php")
    //-                 //- из какой формы на сайте
    //-                 input(type="hidden" name="subject" value="форма в футоре")
    //-                 //- проверка спама
    //-                 input(type="hidden" name="notspam" value="")
    //-                 .form__row
    //-                     input(type="text", required placeholder="Предмет лизинга*")
    //-                 .form__row
    //-                     input(type="number", placeholder="ИНН")
    //-                 .form__row
    //-                     input(type="number", placeholder="Стоимость")
    //-                 .form__row
    //-                     input(type="text", placeholder="Контактное лицо")
    //-                 .form__row
    //-                     input(type="number", placeholder="Колличество")
    //-                 .form__row
    //-                     input(type="text", required placeholder="Телефон*")
    //-                 .form__row
    //-                     input(type="number", placeholder="Аванс")
    //-                 .form__label
    //-                 .form__row
    //-                     select.select(data-placeholder="Выбор")
    //-                         option(value="")
    //-                         option(value="Значение 1") Значение 1
    //-                         option(value="Значение 2") Значение 2
    //-                         option(value="Значение 3") Значение 3
    //-                         option(value="Значение 4") Значение 4
    //-                 .form__row
    //-                     input(type="email", placeholder="E-mail")
    //-                 .form__row
    //-                     input(type="text", placeholder="Местонахождение")
    //-                 .form__row.form__row_full
    //-                     textarea(type="text", placeholder="Дополнительная информация")
    //-                 .form__row.form__row_full
    //-                     .form__grup
    //-                         label.form__check
    //-                             input(type="radio" name="test" checked="checked" value="test")
    //-                             span radio 1
    //-                         label.form__check
    //-                             input(type="radio" name="test" value="test_2")
    //-                             span radio 2
    //- 
    //-                 .form__row
    //-                     span.form__text Поля, помеченные *, обязательны к заполнения
    //-                 .form__row
    //-                     .button
    //-                         button.btn#btn_didisabled_js(type="submit") Отправить
    //-                 .form__row.form__row_full
    //-                     .form__privacy
    //-                         label.form__check
    //-                             input#check_checked(type="checkbox" checked="checked")
    //-                             span Прочитал(-а) Пользовательское соглашение и соглашаюсь с <a href="#" target="_blank">политикой обработки персональных данных</a>
    //- // end form
