extends layout/layout.pug

block content
    // begin projectNaw
    section#projectNaw.projectNaw.section(style="padding-top: 8em;")
        .container_center
            h2.section__title
                span Навигация по проекту
            ul(style="font-size:1.25em;")
                li
                    a(href="../pages/home/") home 
                li
                    a(href="../pages/portfolio/") portfolio 
                li
                    a(href="../pages/services/") Our Services 
                li
                    a(href="../pages/service/") Single Service
                li
                    a(href="../pages/testimonials/") Testimonials
                li
                    a(href="../pages/contacts/") contacts 
                li
                    a(href="../pages/notfound/") notfound

    // end projectNaw




    //-     class="portfolio__item" 
    //- data-modal="#project" 
    //- data-title="<?php the_title(); ?>" 
    //- data-cat="<?php $category = get_the_terms($post->ID, 'project-cat');
    //-         if ($category) { $i = '';
    //-             foreach ($category as $cat) {
    //-                 echo $i . $cat->name;
    //-                 $i = ', ';
    //-             }
    //-         } else {echo '';}
    //-     ?>" 
    //- data-location="<?php echo (SCF::get( 'project__location' )) ? SCF::get( 'project__location' ) : ''; ?>" 
    //- data-text="<?php echo the_content(); ?>" 
    //- data-link="<?php echo (SCF::get( 'project__link' )) ? SCF::get( 'project__link' ) : ''; ?>" 
    //- data-images="<?php $data_gallery = SCF::get('project__gallery');
    //-     if ($data_gallery) { 


    //-         echo '[';
    //-             foreach ($data_gallery as $item) {  
    //-                 $img_url = wp_get_attachment_url($item['gallery_item']);
    //-                 $attribute = $item['gallery_radio']; 
    //-                 echo "['" . $attribute . "', '"  . $img_url . "'],";
    //-             } 
    //-         echo ']';
    //-     }; ?>" 
    //- id="<?php the_ID(); ?>"
