@font-face {
    font-family: 'Brandon Grotesque';
    src: url('BrandonGrotesque-Black.eot');
    src: url('BrandonGrotesque-Black.eot?#iefix') format('embedded-opentype'),
        url('BrandonGrotesque-Black.woff2') format('woff2'),
        url('BrandonGrotesque-Black.woff') format('woff'),
        url('BrandonGrotesque-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('BrandonGrotesque-Regular.eot');
    src: url('BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
        url('BrandonGrotesque-Regular.woff2') format('woff2'),
        url('BrandonGrotesque-Regular.woff') format('woff'),
        url('BrandonGrotesque-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('BrandonGrotesque-Light.eot');
    src: url('BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype'),
        url('BrandonGrotesque-Light.woff2') format('woff2'),
        url('BrandonGrotesque-Light.woff') format('woff'),
        url('BrandonGrotesque-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('BrandonGrotesque-Medium.eot');
    src: url('BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
        url('BrandonGrotesque-Medium.woff2') format('woff2'),
        url('BrandonGrotesque-Medium.woff') format('woff'),
        url('BrandonGrotesque-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('BrandonGrotesque-Bold.eot');
    src: url('BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
        url('BrandonGrotesque-Bold.woff2') format('woff2'),
        url('BrandonGrotesque-Bold.woff') format('woff'),
        url('BrandonGrotesque-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brandon Grotesque';
    src: url('BrandonGrotesque-Thin.eot');
    src: url('BrandonGrotesque-Thin.eot?#iefix') format('embedded-opentype'),
        url('BrandonGrotesque-Thin.woff2') format('woff2'),
        url('BrandonGrotesque-Thin.woff') format('woff'),
        url('BrandonGrotesque-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}