extends ../../layout/layout.pug

block variable
    -var path = '../../';
    //- -var page = 'bg';

block content
    // begin breadcrumbs
    .breadcrumbs.section
        .container_center.container_center_right
            .kama_breadcrumbs

                span
                    a(href="#")
                        span Home Page

                span.kb_sep |

                span 
                    a(href="#")
                        span Our Services

                span.kb_sep |

                span.kb_title Kitchen Remodeling
    // end breadcrumbs

    // begin gallery
    section#gallery.gallery.section
        .container_center
            h1.section__title Kitchen Remodeling
        .gallery__content
            each item in [1,2,3,4,6,5]
                .gallery__item.img
                    img(src="../../img/gallery_"+item+".webp" alt="image" loading="lazy")


    // end gallery

    // begin done
    section#done.done.section
        .container_center
            .done__content
                h2.section__title Kitchen remodeling done right
                .done__text
                    p Remodeling the kitchen in your home can be a great opportunity to address a variety of issues you might have with your kitchen including lack of work space or storage space, the decor isn’t to your liking or if you would like to add appliances that the kitchen isn’t designed to accommodate. We at Metropolis drafting and construction believe that the kitchen is the center of attention of your house, and most remodeling project should start with the kitchen. 
                    p Before going into the kitchen remodeling project it is vital to have the right floor plan designed and making sure the kitchen you will be receiving will be functional and will answer all your need in a new kitchen remodel. Metropolis drafting and construction designers will provide you with all the options possible in your kitchen space for you to choose from. Also if you intend to sell your home in the near future, a remodeled kitchen can also bring a great return on your investment.

    // end done

    // begin hasvideo
    section#hasvideo.hasvideo.section
        .container_center

            .hasvideo__content
                .hasvideo__left
                    h2.section__title Getting the right kitchen layout
                    .hasvideo__img.img
                        img(src="../../img/hasvideo_3.webp" alt="image" loading="lazy")
                    .hasvideo__text
                        p Remodeling your kitchen is usually a decision you take to acquire more work space and better storage solutions. All of these problems are tied directly to a bad kitchen layout. It might be as simple as adding a new pantry unit or going as far as replacing all your kitchen cabinets with state of the art modern cabinets that can be easily accessed and utilize the available space in a better wat. Our designers can assist you with ideas for your new kitchen layout and provide you with samples for the newest cabinets and counter top materials. 
                        p The added cabinet space can free up the cluttered of your old kitchen cabinets and the additional counter space will allow you to better utilize you kitchen work space. Another thing that is very important to remember is the appliances placement, by utilizing the classic triangle layout you can assure that your new kitchen will be easy to work in and practical for the year to come.

                .hasvideo__right
                    .hasvideo__bg.img.desktop
                        img(src="../../img/hasvideo_1.webp" alt="image" loading="lazy")

                    .hasvideo__video
                        .hasvideo__play.img
                            img(src="../../img/hasvideo_2.webp" alt="image" loading="lazy")

                            .video__play.youtubeModal_js#rsDoGqnPE4c



    // end hasvideo

    // begin hasimage
    section#hasimage.hasimage.section
        .container_center
            .hasimage__content
                h2.section__title Combine the right materials for incredible result
                .hasimage__img.img
                    img(src="../../img/hasimage.webp" alt="image" loading="lazy")
                .hasimage__text
                    p After going over all the technical aspects of your kitchen remodel it’s time to talk about the variety of finish materials we have to ofer. All of our cabinets are 100% solid wood cabinets ranging from beautiful white shaker cabinets, natural espresso or walnut wood finishes and the modern gray epoxy painted cabinets. With the right selection of a counter top may it be granite counters or contemporary quartz work surface and all tied in with the right selection of your new and fantastic backsplash tile work. Let our designers at Metropolis drafting and construction help you choose the right combination to make your new kitchen admired by all who take a glimpse at it,
                    h2 Bathroom Renovations Has a Built In Investment Return
                    p When you take the time to have a professional kitchen renovation completed in your home by Metropolis drafting and construction, the 100% return on your investment is guaranteed if you sell your home. The right layout and stylish appearance of a kitchen in the center of your home after a remodel is guaranteed to be a strong selling point for any prospective buyer.


    // end hasimage

    // begin stages
    section#stages.stages.section
        .container_center
            .stages__content.counter-wrap 
                h2.section__title The rough stages of a kitchen project

                each item in [{title: 'Garbage removal', text: ''}, {title: 'Replacement of plumbing', text: ''}, {title: 'Electrical  modernization', text: ''}, {title: 'Creating a transaction', text: ''}, {title: 'lighting installation', text: ''}, {title: 'lighting installation', text: ''}]

                    .stages__item.counter-item
                        .stages__number.counter-el
                        .stages__title=item.title
                        .stages__text 
                            p We worked with Jonathan on a full house remodeling project, inside and outside the house. Although it was quite stressful for me as being my first remodeling project



    // end stages

    // begin reverse
    section#reverse.reverse.section
        .reverse__wrap
            .container_center
                .reverse__content
                    h2.section__title Getting Started<br> With Your kitchen Remodeling Project
                    .reverse__text
                        p If you are unsure of where to begin with your kitchen remodeling project; we will be happy to schedule a consultation with you. We can help you decide on the size of your project based on the budget you are comfortable with. Create 2d drawings of the different options for your bathroom and even provide you with 3D images of the conceptual design. Once we have given you an estimate, you can be sure it will be accurate and never leave room for additional work needed so quoted price will be your final cost. Metropolis Drafting and construction works extremely closely with every customer, and we are always happy to answer any questions you may have about your kitchen Remodeling project.

            .reverse__img.img
                img(src="../../img/reverse.webp" alt="image" loading="lazy")


    // end reverse

    // begin testimonials
    section#testimonials.testimonials.section
        .container_center
            h2.section__title Client reviews
            .testimonials__slider
                .swiper.testimonials_js
                    .swiper-wrapper
                        each item in ['2', '1' ]
                            .swiper-slide
                                .recall__grid
                                    .recall__item
                                        .recall__box
                                            .recall__text
                                                p We had a total bath remodel. Our original suite bath had no wall, a sunken concrete bathtub, a large picture window that exposed us to world view while sitting. Jonathan designed a more private and modern bath with floating toilet and vanity.  From demo to completion, he checked in periodically to ensure our approval of various stages in construction.  He had a foreman who visited regularly. When we noted problems he was quick to respond. We are pleased with the result. And we love our white beveled subway tile!  Thanks Jonathan!

                                            .recall__person
                                                .person
                                                    .person__img.img
                                                        img(src="../../img/person.webp" alt="image" loading="lazy")
                                                    .person__info
                                                        .person__title Leor & Gordon Ownby
                                                        .person__desc 3715 Los Olivos Ln. Glendale Angeles, CA

                                        .recall__video
                                            .video
                                                .video__wrapper.js-youtube#OuOXvavAy1c(style="background-image: url('../../img/recall_1.webp')")
                                                    .video__play


                .testimonials__control
                    i.swiper-arrow.icon_arrow_left.swiper-arrow-dark
                    i.swiper-arrow.icon_arrow_right.swiper-arrow-dark


    // end testimonials

    // begin consult
    section#consult.consult.section
        .container_center
            .consult__content
                h2.section__title Consult with a designer today
                .consult__btn
                    a.btn(href="#")
                        span to get consultation

    // end consult
