extends ../../layout/layout.pug

block variable
    -var path = '../../';
    //- -var page = 'bg';

block content
    // begin breadcrumbs
    .breadcrumbs.section
        .container_center.container_center_right
            .kama_breadcrumbs
                span
                    a(href="#")
                        span Home Page
                span.kb_sep

                span.kb_title Testimonials
    // end breadcrumbs


    // begin recall
    section#recall.recall.section
        .container_center
            h1.section__title What Our Customers Say
            .recall__grid



                // begin recall__item 1
                .recall__item

                    .recall__box
                        .recall__text
                            p We screened at least 5 contractors before settling on Jonathan and his team.  We had three bathrooms to completely remodel and miscellaneous items around the home to redo. Jonathan took us through the entire process and provided us with accurate estimates.  He accommodated the inevitable changes along the way and assisted with the entire process from design to selecting fixtures.  We are very happy with the outcome and plan on using his team to remodel our Kitchen next year.
                            p The only bad thing is I used to look forward to traveling, so that I could use the shower at the hotel.  I recently stayed at the Trump Tower and it’s bathrooms didn’t come close to mine, so I have lost the only positive of business travel.

                        .recall__person
                            .person
                                .person__img.img
                                    img(src="../../img/person.webp" alt="image" loading="lazy")
                                .person__info
                                    .person__title Leor & Gordon Ownby
                                    .person__desc 3715 Los Olivos Ln. Glendale Angeles, CA

                    .recall__video
                        .player
                            .player__wrap(style="background-image: url('../../img/recall_1.webp')")
                                .player__play

                                <video width="100%" controls allowfullscreen="true" playsinline="playsinline" >
                                    <source src="http://media.w3.org/2010/05/sintel/trailer.mp4" type="video/mp4" />
                                </video>




                        //- .video
                        //-     .video__wrapper.js-youtube#OuOXvavAy1c(style="background-image: url('../../img/recall_1.webp')")
                        //-         .video__play



                // end recall__item 1

                // begin recall__item 2
                .recall__item
                    .recall__video
                        .video
                            .video__wrapper.js-youtube#OuOXvavAy1c(style="background-image: url('../../img/recall_1.webp')")
                                .video__play


                // end recall__item 2

                // begin recall__item 3
                .recall__item

                    .recall__box
                        .recall__text
                            p We screened at least 5 contractors before settling on Jonathan and his team.  We had three bathrooms to completely remodel and miscellaneous items around the home to redo. Jonathan took us through the entire process and provided us with accurate estimates.  He accommodated the inevitable changes along the way and assisted with the entire process from design to selecting fixtures.  We are very happy with the outcome and plan on using his team to remodel our Kitchen next year.
                            p The only bad thing is I used to look forward to traveling, so that I could use the shower at the hotel.  I recently stayed at the Trump Tower and it’s bathrooms didn’t come close to mine, so I have lost the only positive of business travel.

                        .recall__person
                            .person
                                .person__img.img
                                    img(src="../../img/person.webp" alt="image" loading="lazy")
                                .person__info
                                    .person__title Leor & Gordon Ownby
                                    .person__desc 3715 Los Olivos Ln. Glendale Angeles, CA

                // end recall__item 3

                // begin recall__item 4
                .recall__item

                    .recall__box
                        .recall__text
                            p We screened at least 5 contractors before settling on Jonathan and his team.  We had three bathrooms to completely remodel and miscellaneous items around the home to redo. Jonathan took us through the entire process and provided us with accurate estimates.  He accommodated the inevitable changes along the way and assisted with the entire process from design to selecting fixtures.  We are very happy with the outcome and plan on using his team to remodel our Kitchen next year.
                            p The only bad thing is I used to look forward to traveling, so that I could use the shower at the hotel.  I recently stayed at the Trump Tower and it’s bathrooms didn’t come close to mine, so I have lost the only positive of business travel.

                        .recall__person
                            .person
                                .person__img.img
                                    img(src="../../img/person.webp" alt="image" loading="lazy")
                                .person__info
                                    .person__title Leor & Gordon Ownby
                                    .person__desc 3715 Los Olivos Ln. Glendale Angeles, CA

                // end recall__item 4

                // begin recall__item 5
                .recall__item
                    .recall__video
                        .video
                            .video__wrapper.js-youtube#OuOXvavAy1c(style="background-image: url('../../img/recall_1.webp')")
                                .video__play

                // end recall__item 5

                // begin recall__item 6
                .recall__item
                    .recall__slider
                        .swiper.recall_js
                            .swiper-wrapper
                                each item in ['2', '1', '4', '5']
                                    .swiper-slide
                                        .recall__img.img
                                            img(src="../../img/preview_"+item+".webp" alt="image" loading="lazy")

                            .recall__control.swiper-control.dark
                                i.swiper-arrow.icon_arrow_left
                                .swiper-pagination
                                i.swiper-arrow.icon_arrow_right

                    .recall__box
                        .recall__text

                            p The only bad thing is I used to look forward to traveling, so that I could use the shower at the hotel. 

                        .recall__person
                            .person
                                .person__img.img
                                    img(src="../../img/person.webp" alt="image" loading="lazy")
                                .person__info
                                    .person__title Dao & Fritz Allen
                                    .person__desc 95 Edgar Ct,Newbury Park

                // end recall__item 6

                // begin recall__item 7
                .recall__item

                    .recall__box
                        .recall__text
                            p We screened at least 5 contractors before settling on Jonathan and his team.  We had three bathrooms to completely remodel and miscellaneous items around the home to redo. Jonathan took us through the entire process and provided us with accurate estimates.  He accommodated the inevitable changes along the way and assisted with the entire process from design to selecting fixtures.  We are very happy with the outcome and plan on using his team to remodel our Kitchen next year.
                            p The only bad thing is I used to look forward to traveling, so that I could use the shower at the hotel.  I recently stayed at the Trump Tower and it’s bathrooms didn’t come close to mine, so I have lost the only positive of business travel.

                        .recall__person
                            .person
                                .person__img.img
                                    img(src="../../img/person.webp" alt="image" loading="lazy")
                                .person__info
                                    .person__title Leor & Gordon Ownby
                                    .person__desc 3715 Los Olivos Ln. Glendale Angeles, CA

                // end recall__item 7

                // begin recall__item 8
                .recall__item
                    .recall__slider
                        .swiper.recall_js
                            .swiper-wrapper
                                each item in ['2', '1', '4', '5']
                                    .swiper-slide
                                        .recall__img.img
                                            img(src="../../img/preview_"+item+".webp" alt="image" loading="lazy")

                            .recall__control.swiper-control.dark
                                i.swiper-arrow.icon_arrow_left
                                .swiper-pagination
                                i.swiper-arrow.icon_arrow_right


                    .recall__box
                        .recall__text
                            p We screened at least 5 contractors before settling on Jonathan and his team.  We had three bathrooms to completely remodel and miscellaneous items around the home to redo. Jonathan took us through the entire process and provided us with accurate estimates.  He accommodated the inevitable changes along the way and assisted with the entire process from design to selecting fixtures.  We are very happy with the outcome and plan on using his team to remodel our Kitchen next year.


                        .recall__person
                            .person
                                .person__img.img
                                    img(src="../../img/person.webp" alt="image" loading="lazy")
                                .person__info
                                    .person__title Leor & Gordon Ownby
                                    .person__desc 3715 Los Olivos Ln. Glendale Angeles, CA

                // end recall__item 8







    // end recall
